---
const { author, content, tags } = Astro.props;
---

<div
  class="bg-[url('public/images/bg-image-random-quote.svg')] bg-cover bg-[#20293A]
					w-[550px]
					p-10
					rounded-lg
          flex justify-center items-center flex-col"
>
  <div class="flex justify-center items-center flex-col mb-6">
    <span id="quote-author" class="text-white font-medium text-base
    mb-2">{author}</span>
    <div id="quote-tags" class="flex justify-center items-center gap-2">
      {
        tags.map((tag: string) => (
          <span
            class="bg-transparent
			 border-[1px] border-[#6466E9] rounded-full
			 py-1 px-3
			 text-[#6466E9] text-[10px]"
          >
            {tag}
          </span>
        ))
      }
    </div>
  </div>
  <h1 id="quote-content" class="text-2xl text-center text-[#97A3B6] font-light">
    {content}
  </h1>
</div>

<style></style>
